<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_reservas</property>
		<property name="hibernate.connection.username">halyson</property>
		<property name="hibernate.connection.password">@Admin123#</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- Pool de Conexões -->
	    <property name="connection.pool_size">1</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Cria as tabelas do banco de dados -->
	    <property name="hbm2ddl.auto">update</property>

		<mapping class="br.ce.models.Equipamento" />

	</session-factory>
</hibernate-configuration>